<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+" crossorigin="anonymous">

<form class="pure-form pure-form-stacked" id="joinform">
    <fieldset>
        <legend>Join Club</legend>
        <!-- CODE -->
        <label for="stacked-clubcode">Club Invite Code</label>
        <input type="clubcode" id="stacked-clubcode" name="clubcode" placeholder="clubcode" required="true"/>

        <!-- SUBMIT -->
        <button type="submit" class="pure-button pure-button-primary">Join</button>
    </fieldset>
</form>
<div id="join_error_bar">
</div>