<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+" crossorigin="anonymous">

<form class="pure-form pure-form-stacked" id="registerform">
    <fieldset>
        <legend>Register</legend>
        <!-- USERNAME -->
        <label for="stacked-username">Username</label>
        <input type="username" id="stacked-username" name="username" placeholder="username" required="true"/>

        <!-- EMAIL -->
        <label for="stacked-email">Email</label>
        <input type="email" id="stacked-email" name="email" placeholder="email" required="true"/>

        <!-- PASSWORD -->
        <label for="stacked-password">Password</label>
        <input type="password" id="stacked-password" name="password" placeholder="password" required="true"/>

        <!-- VERIFY PASSWORD -->
        <label for="stacked-verifypassword">Verify Password</label>
        <input type="password" id="stacked-verifypassword" name="verifypassword" placeholder="verifypassword" required="true"/>

        <!-- SUBMIT -->
        <button type="submit" class="pure-button pure-button-primary">Register</button>
    </fieldset>
</form>
<div id="error_bar">
</div>